@media only screen and (max-width : 768px){

    header {
        background-color: #1a1a1a;
        text-align: center;
        color: white;
        display: inline-block;
        position: relative;
        width: 204% !important;
    }

    .controle {
        position: absolute;
        bottom: 50px;
        width: 85% !important;
        height: 70%;
        text-align: center;
    }

    h2 {
        margin-left: 70% !important;
        color: #f9004d;
        font-size: 30px !important;
    }

    h3 {
        color: aliceblue;
        padding: 15px;
        display: table-caption !important;
        font-weight: 700;
        letter-spacing: 23px !important;
        font-size: 60px !important;
        line-height: 60px !important;
        text-align: justify !important;
        
    }

    .span2 {
        color: #f9004d;
        float: none;
        font-size: 60px !important;
    }

    .span4 {
        color: #f9004d;
        float: none;
        font-size: 60px !important;
        cursor: pointer;
    }

    .image2 {
        height: 700px !important;
        width: 600px !important;
        display: block;
        border: 12px solid #f9004d !important;
        border-radius: 80px !important;
        margin: 40px !important;
    }

    .principal {
        width: 204% !important;
        display: flex;
        background-color: #1A1A1A;
    }

    .ingresso{

        width: 110% !important;
        height: 85%;
    }

    .span0 {
        float: right !important;
        color: #f9004d;
        font-weight: 700;
        font-size: 30px !important;
       
    }

    .anuncio {
        color: white;
        font-weight: 900;
        font-size: 30px !important;
        border-style: solid;
        border-radius: 5px;
        border-color: #f9004d;
        border-width: 5px !important;
        padding: 15px !important;
        margin-left: 36px !important;
        margin-right: auto !important;
        height: 420px;
        display: inline-block;
        width: 50% ;
        text-align: justify;
        margin-top: 70px;
        margin-bottom: 82px !important;
    }
  
    .span3 {
        color: #f9004d;
        float: none;
        font-size: none;
        cursor: pointer;
        font-size: 40px !important;
    }

    .venda{

        width: 513px !important;
        border-width: 5.5px !important;
        border-radius: 25px !important;
        padding-bottom: 80% !important;
    }

    input {
        border-radius: 20px !important;
        border-color: #f9004d;
        border-width: 4.5px !important;
        border-style: solid;
        padding: 21px 18px !important;
        background-color: #272222;
        cursor: pointer;
        font-weight: bold;
        color: white;
        text-decoration: none;
        transition: .4s;
        font-size: 30px !important;
        margin: 13px !important;
    }

    button{
        font-size: 30px !important;
        margin-top: 60px !important;
    }

  }
  
  /* AQUI ACABA A MEDIA QUERY */


header{

    background-color: #1a1a1a;
    text-align: center;
    color: white;
    display: inline-block;
    position: relative;
    width: 100%;
}



body{
    
    font-family: Arial, Helvetica, sans-serif; 
    background-color:#000B0D;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}



b{
font-weight: bold;
color: red;

}

.image {

    height: 200px;
    width: 500px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

.image2 {

    height: 200px;
    width: 185px;
    display: block;
    border: 3px solid #f9004d;
    border-radius: 25px;
}


h2{
    margin-left: 75%;
    color: #f9004d;
  
}


h3{

    color: aliceblue;
    padding: 15px;
    display: inline-block;
    font-weight: 700;
 
}

h5{

    margin-top: 0px;
    font-size: 20px;
    font-weight: 800;
}


.principal{
    width: 100%;
    display: flex;
    background-color: #1A1A1A;
   
   
    
  }


  .produto{
    width: 50%;
    color:rgb(245, 245, 245);
    text-align: center;
    font-weight: 900;
    display:inline-block;
    margin-top: 70px;
}


.anuncio{
    color: white;
    font-weight: 900;
   font-size: 20px;
   border-style: solid;
   border-radius: 5px;
   border-color: #f9004d;
   border-width: 2px;
   padding: 20px;
   margin-right: 65px;
   height: 420px;
   display:inline-block;
   width: 50%;
   text-align: justify;
   margin-top: 70px;

}

.span0{
    float: right;
    color: #f9004d;
    font-weight: 700;
    font-size: 25px;
    margin-top: 50%;
}

.span1{
    color: #f9004d;
    float: none;
    font-size: none;
}

.span2{
    color: #f9004d;
    float: none;
    font-size: none;
}

.span3{
    color: #f9004d;
    float: none;
    font-size: none;
    cursor: pointer;
}

.span4{
    color: #f9004d;
    float: none;
    font-size: 23px;
    cursor: pointer;
}


.venda{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    background-color: #101010;
    display:inline-block;
    border-radius: 10px;
    border-color: #f9004d;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    padding: 20px;
    height: 220px;
    width: 600px;
    margin-left: 25%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-bottom: 120px;
    
    
}


input{

    border-radius: 20px;
    border-color: #f9004d;
    border-width: 2.5px;
    border-style: solid;
    padding: 13px 20px;
    background-color: #272222;
    cursor: pointer;
    margin: auto;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: .4s;
   
}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 25px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 50px;
  }
  
  button:hover{
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
  transform: scale(1.2);
  }

 


.controle{
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 70%;
    text-align: center;
}



.botao{
    position: relative;
    top: 75%;
    width: 55px;
    /*margin: 10px;*/
    padding: 15px;
    cursor: pointer;
    transition: .4s;
    border: 2px solid transparent;
    border-radius: 50px;
     }      

.botao:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
        transform: scale(1.2);
        }   